.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 4;
  }
  
  .modal-main {
    position:fixed;
    background: rgb(189, 182, 182);
    width: 80%;
    height: 20vh;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
  
  .modal-main h2, p {
    margin: 0.5rem;
    display: flex;
    justify-content: center;
    color: rgb(146, 31, 31)
  }

  .modal-main button {
      display: block;
      margin: 0 auto;
      border: none;
      justify-content: center;
      color: rgb(119, 8, 8);
      height: 2.4rem;
      width: 6rem;
      text-align: center;
      text-decoration: none;
      font-size: 16px
  }

  .modal-main button:hover {
    background-color: rgb(181, 205, 236);
    color: rgba(0, 68, 255, 0.733);
  }

  .display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }